body {
    padding: 0;
    margin: 0;
    color:white;
    background-color: #111;
    border-radius: 10px;
}
.inputform {
    margin-top: 2vh;
    font-weight: bold;
    text-align: center;
    font-size: large;

}
.header-add {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    font-weight: 800;
}

.buttons {
    position:absolute;
    right: 0;
    margin-right: 2vw;
}

#title, #description, #price, #category, #contacts {
    height: 3vh;
    border: none;
    background-color: #222;
    border-radius: 10px;
    color: #777;
    font-size: medium;
    text-align: left;
    font-weight: bold;
    margin-bottom: 2vh;
    margin-top: 0.7vh;
}

.formcontainer {
    display: flex;
    justify-content: center;
}

.inputform {
    width: 10vw;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 3vw;
}

.update {
    margin: 10px;
}

.advertisements {
    display: flex;
    justify-content: center;
}

.table {
    margin: 5vh 10vw;
    color: rgb(255, 255, 255);
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 0;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #222;
	border-bottom: 5px solid #111;
}
.table td {
	padding: 5px;
	border-bottom: 3px solid #111;
}

.button:hover {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
#saveButton {
    position: absolute;
    right: 0;
    margin: 2vh 2vw;
}

.button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.button:before, .table:before {
    content: "";
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: update-glow 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.button:after, .table:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes update-glow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}